name: Auto Add to Project

on:
  issues:
    types: [opened]
  pull_request:
    types: [opened]

jobs:
  add-to-project:
    runs-on: ubuntu-latest
    steps:
      - name: Add to project
        uses: actions/add-to-project@v0.6.0
        with:
          # 替换成你的项目 URL
          # 格式: https://github.com/users/YOUR_USERNAME/projects/PROJECT_NUMBER
          project-url: https://github.com/users/lastdanger/projects/1
          github-token: ${{ secrets.GITHUB_TOKEN }}
